<%= form_with model: @dish, local: true do |form| %>

<%= form.label :ingredient %>
<%= form.select :ingredient_ids,  Ingredient.all.map{ |p| [p.name, p.id] }, 
                                  { include_blank: false },
                                  { class: "simple-example form-control", multiple:true } %>
<br>

<%= form.label :avatar %>
<%= form.file_field :avatar %>
<p>  
  <%= form.label :name %>
  <%= form.text_field :name %> 
</p>

<p>  
  <%= form.label :total %>
  <%= form.text_field :total   %> 
</p>
<p>  
  <%= form.label :value_calorie %>
  <%= form.text_field :value_calorie %> 
</p>

<p>  
  <%= form.label :description %>
  <%= form.text_field :description %> 
</p>

<p>
  <%= form.submit %>
</p>
<% end %>
