<%= form_with model: @dish, local: true do |form| %>
  <% if @dish.errors.any? %>
    <% @dish.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :ingredient %>
          <%= form.select :ingredient_ids,  Ingredient.all.collect{ |p| [p.name, p.id] }, 
                                            { include_blank: false },
                                            { class: "select2 form-control",
                                              multiple: true } %>
        </div>
        <div class="form-group">
          <%= form.label :avatar %>
          <%= form.file_field :avatar, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :value_calorie %>
          <%= form.text_field :value_calorie, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_field :description, class: "form-control" %>
        </div>
        <br>
        <div class="pricing-card-title ">
          <h1>
            <%=form.hidden_field :total %>
          Total: $<%= @dish.total %><small class="text-muted">/ mo</small>
        </h1>
        </div>
      </div>
    </div>
    <%= submit_tag "Save Dish", class: "btn btn-primary btn-lg btn-block", data: { disable_with: "Please Wait..." } %>
  </div>
<% end %>
