<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @dish.total %>
</p>

<p>
  <strong>Value Calories:</strong>
  <%= @dish.value_calorie %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<%= link_to 'Back', dishes_path %>
